* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /* Font Family */
--FF1: 'Markazi Text';
--FF2: 'Karla';

/* TEXT SIZE */
--TITLE: 70px;
--SUBTITLE: 40px;
--CARD: 18px;
--PARAGRAPH: 16px;

/* COLOR */
--PRIME-GREEN: #495E57;
--PRIME-YELLOW: #F4CE14;
--SECOND-1: #EE9972;
--SECOND-2: #FBDABB;
--HIGHLIGHT-1: #EDEFEE;
--HIGHLIGHT-2: #333333;

/*CORNERS */
--BTN-CORNERS: 16px;

}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

main {
  background-color: var(--PRIME-GREEN);
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

footer {
  padding-top: 7rem;
}

Form {
  background-color: var(--PRIME-GREEN);
  padding-bottom: 6rem;
}

heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

cards {
  display: flex;
  justify-content: center;
}

cardtitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-weight: bold;
}

cardfooter {
  display: flex;
  justify-content: left;
  padding-top: 2rem;
}

a {
  text-decoration: none;
  font-family: 'Karla';
  color: black;
}

.btn {
  border-radius: var(--BTN-CORNERS);
  font-size: var(--CARD);
  padding: 1rem;
  background-color: var(--PRIME-YELLOW);
  color: var(--PRIME-GREEN);
  font-weight: 600;
  border: none;
}

.large--btn {
  border-radius: var(--BTN-CORNERS);
  font-size: var(--CARD);
  padding: 1rem 4rem;
  background-color: var(--PRIME-YELLOW);
  color: var(--PRIME-GREEN);
  font-weight: 600;
  border: none;
}


.nav--links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 4rem;
  font-size: 18px;
  font-weight: 600;
}

.nav--list {
  display: inline;
  margin: 1rem;
}

.nav--image {
  width: 100%;
  max-width: 200px;
}

.main--one {
  margin-right: 10rem;
}

.main--title {
  font-family: var(--FF1);
  font-size: var(--TITLE);
  color: var(--PRIME-YELLOW);
  font-weight: 500;
}

.main--subtitle {
  font-family: var(--FF1);
  font-size: var(--SUBTITLE);
  color: var(--HIGHLIGHT-1)
}

.main--text {
  color: var(--HIGHLIGHT-1);
  font-family: var(--FF1);
  font-size: 32px;
  padding-bottom: 3rem;
  width: 350px;
}

.main--img {
  width: 325px;
  max-width: 100%;
  border-radius: var(--BTN-CORNERS);
  position: absolute;
  right: 20rem;
}

.footer--title {
  font-size: var(--TITLE);
  color: var(--HIGHLIGHT-2);
  font-family: var(--FF1);
  margin-right: 13rem ;
  margin-top: 1rem;
}

.footer--card {
  background-color: var(--HIGHLIGHT-1);
  padding: 1rem;
  margin: 1rem;
  width: 250px;
  font-family: var(--FF2);
  font-size: var(--CARD);
}

.card--price {
  color: red;
}

.card--img {
  width: 217px;
  height: 200px;
  object-fit: cover;
}

.form--images {
  display: flex;
  justify-content: center;
}

.form--image {
  height:166px;
  width: 250px;
  margin: 10px;
  border-radius: var(--BTN-CORNERS);
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.form--continue-btn {
 justify-content: center;
 position: absolute;
 margin: auto;
 left: 43.2%;
 bottom: 18.5%;
}

.form--button {
  font-size: var(--SUBTITLE);
  text-align: center;
  width: 350px;
  height: 75px;
  border-radius: var(--BTN-CORNERS);
  font-family: var(--FF1);
  border: none;
  margin: 2rem;
  box-shadow: 2px 5px 5px var(--HIGHLIGHT-2);
  
}

.form--title {
  display: flex;
  padding-top: 3rem;
  font-size: var(--TITLE);
  font-family: var(--FF1);
  color: var(--PRIME-YELLOW);
}

.form--section-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.form--container {
  margin: auto;
  width: 875px;
}

.form--radio {
  display: flex;
  font-size: var(--SUBTITLE);
  color: var(--HIGHLIGHT-1);
  font-family: var(--FF1);
  width: 800px;
  padding-left: 3.5rem;
}

.form--outdoor-radio {
  margin-right: 8rem;
}

.form--radio-btn {
  margin-right: 3rem;
}

.input--error {
  border-color: red;
}

input[type="radio"] {
  accent-color: var(--PRIME-GREEN);
  width:20px;
}

.error--date {
  position: absolute;
  left: 25%;
  color: var(--SECOND-1);
  font-family: var(--FF2);
}

.error--occasion {
  position: absolute;
  left: 25%;
  bottom: 42%;
  color: var(--SECOND-1);
  font-family: var(--FF2);
}

.error--time {
  color: var(--SECOND-1);
  position: absolute;
  bottom: 42%;
  right: 36.5%;
  font-family: var(--FF2);
}

.error--diners {
  color: var(--SECOND-1);
  position: absolute;
  right: 29.3%;
  font-family: var(--FF2);
}

#card--delivery {
  font-size: var(--CARD);
  font-family: var(--FF2);
  font-weight: 600;
  font-family: var(--FF2);
}

