* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /* Font Family */
--FF1: 'Markazi Text';
--FF2: 'Karla';

/* TEXT SIZE */
--TITLE: 70px;
--SUBTITLE: 40px;
--CARD: 18px;
--PARAGRAPH: 16px;

/* COLOR */
--PRIME-GREEN: #495E57;
--PRIME-YELLOW: #F4CE14;
--SECOND-1: #EE9972;
--SECOND-2: #FBDABB;
--HIGHLIGHT-1: #EDEFEE;
--HIGHLIGHT-2: #333333;

/*CORNERS */
--BTN-CORNERS: 16px;

}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

main {
  background-color: var(--PRIME-GREEN);
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

footer {
  padding-top: 7rem;
}

heading {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

cards {
  display: flex;
}

a {
  text-decoration: none;
  font-family: 'Karla';
  color: black;
}

.btn {
  border-radius: var(--BTN-CORNERS);
  font-size: var(--CARD);
  padding: 1rem;
  background-color: var(--PRIME-YELLOW);
  color: var(--PRIME-GREEN);
  font-weight: 600;
  border: none;
}


.nav--links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 4rem;
  font-size: 18px;
  font-weight: 600;
}

.nav--list {
  display: inline;
  margin: 1rem;
}

.nav--image {
  width: 100%;
  max-width: 200px;
}

.main--one {
  margin-right: 10rem;
}

.main--title {
  font-family: var(--FF1);
  font-size: var(--TITLE);
  color: var(--PRIME-YELLOW);
  font-weight: 500;
}

.main--subtitle {
  font-family: var(--FF1);
  font-size: var(--SUBTITLE);
  color: var(--HIGHLIGHT-1)
}

.main--text {
  color: var(--HIGHLIGHT-1);
  font-family: var(--FF1);
  font-size: 32px;
  padding-bottom: 3rem;
  width: 350px;
}

.main--img {
  width: 325px;
  max-width: 100%;
  border-radius: var(--BTN-CORNERS);
  position: absolute;
  right: 20rem;
}

.footer--title {
  font-size: var(--TITLE);
  color: var(--HIGHLIGHT-2);
  font-family: var(--FF1);
}